<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/biz/list">
      Enterprises
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/biz/list">
    Enterprises
  </button>
</mat-menu>

<router-outlet></router-outlet>
